/* h2 {
    color: white;
    font-size: 25px;
    display: flex;
    margin-left: 40px;
    justify-content: left;
    margin-left: 40px;
    margin-top: 5px;
} */

.searchbarTitle {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-left: 38px;
}
.pSearchBar {
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
}
.pSearchBarSub {
    color: white;
    width: 200px;
    font-size: 1.2rem;
}

.searchContaier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #cae09d;
    width: 325px;
    height: 150px;
    margin: auto;
    border-radius: 30px;
}
.search__inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    background-color: white;
    width: 255px;
    border-radius: 10px;
    padding: 5px;
}
.search__input {
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 10px;
}
