.resource {
    width: auto;
    height: auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.titleContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.titleContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.itemSubject {
    color: rgba(12, 69, 28, 1);
}
.itemGrade {
    color: rgba(96, 187, 99, 1);
}
