.aboutUs__Container {
    width: 100vw;
    height: 100vh;
}
.about_h2 {
    color: white;
    font-size: 26px;
    display: flex;
    flex-direction: column;
}

.p_Container {
    width: 80%;
    margin: 32px auto;
}

.about_p {
    color: rgba(57, 131, 60, 1);
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 19px;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    font-family: cursive;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h2Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #cae09d;
    width: 325px;
    height: 150px;
    margin: auto;
    border-radius: 30px;
    margin-top: 50px;
    text-align: center;
}
