.delete_h2 {
    display: flex;
    flex-direction: column;
    color: rgba(57, 131, 60, 1);
    font-size: 30px;
    margin-top: 50px;
    width: 43%;
}
.delete_account {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.logOutUserButton {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    border: none;
    background-color: rgba(12, 69, 28, 1);
    border-radius: 20px;
    color: white;
}

.deleteUserButton {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    border: none;
    background-color: rgba(57, 131, 60, 1);
    border-radius: 20px;
    color: white;
}

.deleteUser__logo {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
