.resourceList {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
.resourceUl {
    list-style-type: none;
    margin-left: 75px;
    width: 200px;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
h2 {
    color: rgba(12, 69, 28, 1);
    font-size: 24;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
