.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
}

.form__title1 {
    border: 0;
    border-color: inherit;
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
    color: rgba(57, 131, 60, 1);
    align-items: center;
    justify-content: flex-end;
    font-size: 36px;
    outline: none;
}
.form__title2 {
    margin-top: -30px;
    margin-bottom: 30px;
    font-family: 'Space Grotesk', sans-serif;
    color: rgba(12, 69, 28, 1);
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: normal;
}
.form__input {
    font-family: 'Space Grotesk', sans-serif;
    align-items: center;
    justify-content: flex-end;
    width: 314px;
    height: 44px;
    border-bottom-color: black;
}
.form__input::placeholder {
    font-family: 'Space Grotesk', sans-serif;
    color: rgba(12, 69, 28, 1);
    font-size: 16px;
    font-weight: normal;
}

.form__button {
    background-color: rgba(202, 224, 157, 1);
    font-family: 'Space Grotesk', sans-serif;
    color: rgba(12, 69, 28, 1);
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: normal;
    border-radius: 6px;
    border: solid 1px rgba(202, 224, 157, 1);
    width: 314px;
    height: 44px;
}
